<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>上海巨回收再生资源有限公司</title>
<meta name="keywords" content="上海巨回收再生资源有限公司" />
<meta name="description" content="上海巨回收再生资源有限公司" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
<link type="text/css" href="/css/style.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.1.4.2.min.js"></script>
<script type="text/javascript" src="/js/lib.js"></script>
<script type="text/javascript">
$(function() {

	//导航
	$(".nav").lavaLamp({
		fx: "backinout", 
		speed: 700,
		click: function(event, menuItem) {
			return true;
		}
	});
	
});
</script>
<!--解决 IE6 背景缓存-->
<!--[if IE 6]><script type="text/javascript">document.execCommand("BackgroundImageCache", false, true);</script><![endif]-->
</head>

<body>

	<div class="container header">
		<a class="logo" href="#"><img src="images/lo3.png" width="203" height="56" alt="" /></a>
		<div class="ritside">
			<script type="text/javascript">
			document.write("<div class='today'>"+
				getFullYear(today)+"年&nbsp;&nbsp;"
				+isnMonths[today.getMonth()]+"月"
				+today.getDate()+"日&nbsp;&nbsp;"
				+isnDays[today.getDay()]
			+"</div>");
			</script>
			<div class="telephone"><img src="images/telephone.gif" width="226" height="29" alt="咨询电话：0577-86602010" /></div>
		</div>
		<div class="clear"></div>
		
		<div class="nav">
			<div class="nlbg"></div>
            <ul>
                <li><a href="/index">首 页</a></li>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/product">回收项目</a></li>
                <li class="current"><a href="/job">加入我们</a></li>
                <li><a href="/serve">服务介绍</a></li>
                <li class="last"><a href="/contact">联系我们</a></li>
            </ul>
			<div class="nrbg"></div>
		</div>
	</div><!--header end-->
	
	<div class="container content">
		
		<div class="banner"><a href="#"><img src="images/banner.jpg" width="960" height="277" alt="" /></a></div>
		
		<div class="left">
			<div class="leftcon">
				<div class="leftnav">
##					<h2 class="title04">加入我们</h2>
					<ul>
						<li class="current"><a href="#">加入我们</a></li>
					</ul>
				</div>
				<div class="leftbtn"></div>
			</div>
			
			<div class="side-tel"><a href="#"><img src="images/side-telephone.gif" width="211" height="71" alt="咨询热线" /></a></div>
		</div><!--left end-->
		
		<div class="right">
			<div class="breadcrumbs"><img src="images/home-icon.gif" width="16" height="17" alt="首页" />当前位置：<a href="#">首页</a><span>></span><span>加入我们</span></div>
			
			<div class="job">
				<h4>人才发展策略</h4>
                　　坚持“以人为本”和“创造一流产品、造就一流员工、追求一流环境,奉献一流服务”的质量方针，将人才队伍建设作为企业发展的核心，在建立完善现代企业制度的基础上，进一步完善企业的薪酬奖励制度。
                　　建立人才引得进、留得往、不拘一格使用人才的用人机制，以事业留人、感情留人、待遇留人。
                　　培植先进的企业文化，创造条件营造和谐的、宽松的生活和工作环境，让人才有更充分的发展空间。
                　　调整和优化人才结构，开发现有人才，培养急需人才，吸引海内外关健人才。
				<h4>人事策略机制</h4>
                　　1、在实现管理信息化的基础上，进一步完善以业绩为导向的激励考核制度，实施与市场接轨的薪酬福利体系和多种形式的分配方式，形成有利于人才成长的氛围与机制；
                　　2、积极推进员工培训计划，重点开展以经营团队、科技专业人员、技术工人为主的培训；
				　　3、塑造良好的企业文化，用共同的核心价值观规范员工的思想和行为，树立良好思想品行和一流的工作标准。
				<h4>人事策略目标</h4>
                　　1、 努力建设高素质、职业化的企业经营者队伍，形成企业经营管理团队
                　　2、 努力培养优秀的科技人才队伍，建设一支高素质的专业技术人才队伍；
                　　3、 努力培养优秀的营销团队，重点培养有知识、崇尚公司文化、敢于挑战的年轻骨干员工，为企业储备后备力量。
				<h4>人才观念</h4>
                　　胜任本职工作就是人才，创新开拓就是优秀人才。
			</div>
			
			<script type="text/javascript">
			$(document).ready(function(){
				$(".job tbody tr:odd").addClass("odd");
			});
			</script>

		</div><!--right end-->
		
		<div class="clear"></div>
		
	</div><!--content end-->

    <div class="container footer">
        <div class="btnmenu"><a href="/index">首 页</a><span>|</span><a href="/about">企业介绍</a><span>|</span><a href="/product">回收项目</a><span>|</span><a href="/job">加入我们</a><span>|</span><a href="/serve">服务介绍</a><span>|</span><a href="/contact">联系我们</a></div>
        <div class="copyright">Copyright © 2018　上海巨回收再生资源公司所有<br />沪ICP备11030275号-2</div>
    </div><!--footer end-->
	
</body>
</html>